AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev
HMAC_SECRET_KEY=''
AUTH_URL='' # For testing this should be your NGROK URL and for production this should be your production URL
NEXT_PUBLIC_APP_ID='' # APP ID from the developer portal
MONGODB_URI=""
MONGODB_DB_NAME=""
